

 .Main_img{
    content: url(whats_cookin_good_looking.jpg);
    border-radius: 8px;
    position: absolute;
    left: 10%;
    top: 20%;
    border-radius: 8px;
    float: left;
    width: auto;
    height: auto;
 }
 
 .Self_img{
    border-radius: 8px;
    position: absolute;
    left: 15%;
    top: 20%;
    border-radius: 8px;
    float: left;
    width: auto;
    height: auto;
} 

.Service_img{
    border-radius: 8px;
    position: absolute;
    left: 90px;
    top: 120px;
    border-radius: 8px;
    float: left;
    width: 35%;
    height: 45%;
}
.Tech_img{
  border-radius: 8px;
    position: absolute;
    left: 100px;
    top: 120px;
    border-radius: 8px;
    float: left;
    width: 35%;
    height: 55%;
}

.button{
  border: none;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  color:white;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.landingButton1{
  background-color: silver;
  color: black;
  position: absolute;
  top: 24%;
  left: 33.5%;
  width: 32.8%;
}
.landingButton2{
  background-color: silver;
  color: black;
  position: absolute;
  top: 24%;
  left: 28.5%;
  height: 50.8%;
  width: 5%;
  word-wrap: break-word;
}
.landingButton3{
  background-color: silver;
  color: black;
  position: absolute;
  top: 24%;
  left:66.3%;
  height: 50.8%;
  width: 5%;
  word-wrap: break-word;
}
.landingButton4{
  background-color: silver;
  color: black;
  position: absolute;
  top: 67.5%;
  left: 33.5%;
  width: 32.8%;
}
.pageButton1{
  background-color: silver;
  color: black;
  size: fixed;
  position: absolute;
  top: 90%;
  left: 7%
  
}
.pageButton2{
  background-color: silver;
  color: black;
  size: fixed;
  position: absolute;
  top: 90%;
  left: 17%
  
}
.pageButton3{
  background-color: silver;
  color: black;
  size: fixed;
  position: absolute;
  top: 90%;
  left: 28%
  
}
.pageButton4{
  background-color: silver;
  color: black;
  size: fixed;
  position: absolute;
  top: 90%;
  left: 26.6%
  
}
.styleButton1{
  background-color: silver;
  color: black;
  size: fixed;
  position: absolute;
  bottom: 17%;
  left: 15%;
}
.styleButton2{
  background-color: silver;
  color: black;
  size: fixed;
  position: absolute;
  bottom: 20%;
  left: 15%;
}
.styleButton3{
  background-color: silver;
  color: black;
  size: fixed;
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.landingButton1:hover{
  background-color: blue;
  
}
.landingButton2:hover{
  background-color: red
}
.landingButton3:hover{
  background-color: #04AA6D;
}
.landingButton4:hover{
  background-color: rgb(234, 2, 238);
  color: black;
}
.pageButton1:hover{
  background-color: black;
  color: white;
}
.pageButton2:hover{
  background-color: black;
  color: white;
}
.pageButton3:hover{
  background-color: black;
  color: white;
}
.pageButton4:hover{
  background-color: black;
  color: white;
}

.introText{
  background-color: rgba(255,255,255, 0.7);
  
  font-weight: bold;
  border: 3px solid #332c2c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  height: 30%;
  padding: 20px;
  text-align: match-parent;
  z-index: 1;
  
}
.textbox{
  background-color: rgba(255,255,255, 0.7);
  
  font-weight: bold;
  border: 3px solid #332c2c;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  height: 70%;
  padding: 20px;
  text-align: match-parent;
  z-index: 1;
  
}
.PageHead{
  position: absolute;
  top: 15%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

h1{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
h2{
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
h3{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.Desc_Text{
  position: absolute;
  top: 12%;
  word-wrap: break-word;
}
.LinkHead{
  position: absolute;
  top: 68%;
}
.Link1{
  position: absolute;
  top: 75%;
}
.Link2{
  position: absolute;
  top: 80%;
}
.Link3{
  position: absolute;
  top: 85%;
}
.Link4{
  position: absolute;
  top: 90%;
}
.p1{
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 1;
}
.p2{
  position: absolute;
  top: 53%;
  left: 35%;
  z-index: 1;
}
.p3{
  position: absolute;
  top: 56%;
  left: 35%;
  z-index: 1;
}
.p4{
  position: absolute;
  top: 59%;
  left: 35%;
  z-index: 1;
}
body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.resume{
  position: absolute;
  top: 90%;
  left: 40%;
  width: auto;
  height: auto;
}
.GitHub{
  color: orange;
  position: absolute;
  left: 105%;
}